<mat-card>
  <mat-card-content>
    <div id="container">
      <!-- filters -->
      <div id="filters">
        <fieldset>
          <legend>filters</legend>
          <cadmus-mapping-filter />
        </fieldset>
      </div>

      <!-- list -->
      <div id="list">
        <div class="form-row">
          <!-- jsonSource -->
          <mat-form-field>
            <mat-label>mappings</mat-label>
            <mat-select [formControl]="jsonSource">
              @for (source of jsonSources(); track source) {
              <mat-option [value]="source">
                {{ source | replaceString : ".json" : "" }}
              </mat-option>
              }
            </mat-select>
          </mat-form-field>

          <!-- presetSource -->
          <mat-form-field>
            <mat-label>sample data</mat-label>
            <mat-select [formControl]="presetSource">
              @for (source of presetSources(); track source) {
              <mat-option [value]="source">
                {{ source | replaceString : ".json" : "" }}
              </mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
        <cadmus-mapping-list (mappingEdit)="onEditMapping($event)" />
        <div class="bar">
          <button
            type="button"
            mat-flat-button
            class="mat-primary"
            (click)="addMapping()"
          >
            <mat-icon>add</mat-icon> mapping
          </button>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
