.bar {
  margin: 8px;
}
fieldset {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 8px;
}
.form-row {
  display: flex;
  gap: 8px;
  align-items: center;
  flex-wrap: wrap;
}
.form-row * {
  flex: 0 0 auto;
}
legend {
  color: white;
  background-color: #bbb;
  border: 1px solid #bbb;
  border-radius: 6px;
  padding: 4px;
}
div#container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: auto 1fr;
  grid-template-areas: "filters list";
  gap: 8px;
}
/* lt-md */
@media only screen and (max-width: 959px) {
  div#container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "list"
      "filters";
  }
}
